@import url('https://fonts.googleapis.com/css2?family=Open+Sans:wght@300&display=swap');

:root {
    --background-color: #000;
    --color: #fff;
    --btn-background-color: #ffff00;
    --btn-color: #000;
    --btn-no-background: unset;
    --font-family: 'Open Sans', sans-serif;
    --font-size-xsm: 1.6rem; /* 16*/
    --font-size-sm: 1.8rem; /* 18 */
    --font-size-md: 2rem; /* 20 */
    --font-size-lg: 2.5rem; /* 25 */
    --font-size-xlg: 3rem; /* 30 */
    --background-color-top: rgb(41, 46, 4);
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html {
    /* font-size: 10px; */
    font-size: 62.5%;
}

/* mobile */

body {
    scroll-behavior: smooth;
    background-color: var(--background-color);
    color: var(--color);
    font-family: var(--font-family);
    font-size: var(--font-size-xsm);
    position: relative;
}

/* Toggle Theme */
body.light-theme {
    --background-color: #fff;
    --color: #000;
}

.mobile-bars, #cart, .toggle-theme {
    color: #fff;
}

/* combination selector and selection all elements begins here */

/* header, nav, main, footer {
    grid-column: 1/span 2;
} */

a {
    text-decoration: none; 
    color: #000;
}

ul {
    display: block;
    margin: 0 auto;
    list-style-type: none;
    width: 100%;
}


header img, footer img {
    height: 45px;
}

h2, h1 {
    font-size: var(--font-size-md);
    white-space: wrap;
    font-weight: normal;
}


h3 {
    font-size: var(--font-size-md);
    font-weight: bold;
}

button {
    background-color: transparent;
    border: 0;
    outline: 0;
}

button, .order, .tag {
    background-color: var(--btn-background-color);
    color: #000;
}

.mobile-bars, #cart, .price {
    background-color: var(--btn-no-background);
    font-size: var(--font-size-md);
}

/* combination selector and selection all elements ends here*/



header {
    background-color: var(--background-color-top);
}

.logo-img {
    margin: 15px;
}

nav {
    text-align: center;
    overflow: hidden;
    height: 0;
    background-color: inherit;
    padding-left: 15px;
}

nav .mobile-bars {
    position: absolute;
    top: 0;
    right: 0;
    font-size: var(--font-size-sm);
    padding: 25px 10px 0 0;
    transition: height 1s;
}

nav ul {
    width: 100%;
}

nav.show-nav {
    height: 300px;
}

nav .toggle-theme {
    margin-top: 0;
    cursor: pointer;
}

.toggle-theme .light-theme-icon {
    display: block;
}

.toggle-theme .dark-theme-icon {
    display: none;
}

body.light-theme .light-theme-icon {
    display: none;
}

body.light-theme .dark-theme-icon {
    display: block;
}

.mobile-bars .fa-bars {
    display: block;
}

.mobile-bars .fa-xmark {
    display: none;
}

.mobile-bars .fa-xmark.show-or-hide {
    display: block;
}

.mobile-bars .fa-bars.show-or-hide {
    display: none;
}

nav a {
    color: #fff;
}


li#order-now button {
    padding: 10px;
    font-size: inherit;
    word-break: keep all;
    min-width: 150px;
    max-width: 200px;
}

nav li {
    display: block;
    text-align: left;  
    margin-top: 30px;
    width:  60px;
}

nav li#order-now{
    margin-top: 40px;
    width: 120px;
    
}

nav .cart-link {
    display: flex;
    justify-content: center;
    flex-direction: row;
    flex-wrap: wrap;
}

nav .cart-link a, .cart-link i {
    display: block;
}

nav li#cart {
    z-index: 0;
    position: relative;
    margin-top: 30px;
    height: 60px;
}

nav #cart .cart-counter {
    color: rgb(255, 255, 0);
    font-size: var(--font-size-sm);   
}

main {
    width: 100%;
    position: relative;

}

.hero-sec {
    overflow: hidden;
    width: 100%;
    margin: 0 auto;
    user-select: none;
    position: relative;
    z-index: 0;
    color: #fff;
}

.hero-sec i {
    position: absolute;
    z-index: 4;
    top: 50%;
    bottom: 50%;
    font-size: var(--font-size-sm);
    display: none;
    background-color: #000;
}

.hero-sec i:first-of-type {
    left: 5%;
}

.hero-sec i:last-of-type {
    right: 5%;
}

.container {
    display: flex;
    flex-direction: row;
    align-items: center;
    flex-wrap: nowrap;
    width: 100%;
    /* animation: slideOne 15s infinite alternate; 
    animation-delay: 2s;*/
    transform: translateX(-100%);
    position: relative;
    z-index: 3;
}

.hero-sec:before {
    content: '';
    position: absolute;
    width: 100%;
    height: 300px;
    background: linear-gradient(90deg, rgba(0, 0, 0, 0.4), rgba(0, 0, 255, 0.3));
    z-index: 2;
    opacity: .5;
}   

.hero-sec::after {
    content: '';
    position: absolute;
    top: 0;
    width: 100%;
    height: 300px;
    background: url(images/little-lemon5.jpg) no-repeat center center / cover;
    z-index: 1;
}

/* @keyframes slideOne {
    0%{transform: translateX(-100%)}
    20%,30%{transform: translateX(-100%)}
    
    40%,50%{transform: translateX(-200%)}
    60%, 70%{transform: translate(-300%)}

    80%,90%, 100%{transform: translateX(-400%)}
    
} */


.container > div {
    width: 100%;
    display: flex;
    min-height: 300px;
    align-items: center;
    justify-content: center;
    flex: 0 0 100%;
    padding: 0 5px;
    position: relative;
    z-index: 3; 
}

.hero-sec.fade::before {
    opacity: 1;
    transition: opacity 1s;
}



.price, .order {
    display: inline-block;
    font-weight: 400;
    margin-top: 10px;
}

.order {
    padding: 5px;
}

.hero-sec img {
    min-width: 160px;
    max-width: 350px;
    max-height: 150px;
    object-fit: cover;  
    position: relative;   
}

.hero-sec h1 {
    font-size: var(--font-size-lg);
    color: #fff;
    text-align: left;
    font-weight: bolder;
    position: relative;
    min-width: 130px;
    max-width: 200px;
}


section #products {
    width: 100%;
    display: flex;
    position: relative;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
    column-gap: 15px;
}


#products .menu-heading {
    display: block;
    width: 100%;
    text-align: center;
    margin-top: 40px;
    margin-bottom: 20px;   
}

/*<i class="fa-thin fa-cart-plus"></i>*/

.menu-heading h2 {
    margin: 20px auto;
    text-align: center;
}

.menu-heading p {
    margin: 20px auto;
    font-size: var(--font-size-sm);
    width: 80%;
    text-align: center;
}



section #products .product {
    width: 300px;
    text-align: center;
    height: 300px;
    position: relative;
    background-color: #fff;
    color: #fff;
    box-shadow: 0 0 2px 1px #fff;
    margin: 20px;
    overflow: hidden;
}

.product.fade::after {
    content: '';
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    width: 100%;
    height: 300px;
    background-color: rgba(0, 0, 0, .3);
    z-index: 1;
    transition: background-color 1.5s;
}

.tag {
    position: absolute;
    top: 0;
    left: 0;
    padding: 15px 30px 5px 30px;
    z-index: 3;
    box-sizing: border-box;
    transform: rotate(-45deg) translate(-20px, -30px);
}

.product img {
    width: 100%;
    height: 100%;
    object-fit: cover;
    transition: 1.5s;
    position: relative;
    z-index: 0;
}

.product.fade img {
    width: 110%;

}

.product h3, .product p, .product button {
    position: absolute;
    z-index: 3;
}





.product.fade h3 {
    margin-top: 60px;
    transition: all 2s;
    
}


.product h3 {
    top: -10%;
    left: 0;
    right: 0;
    bottom: 0;
    margin: 0 auto;
    width: 200px;
    overflow: hidden;
    white-space: nowrap;
    text-overflow: ellipsis;
    transition: all 2s;
}

.product.fade p {
    top: 50%;
    margin-left: 180px;
    transition: all 2s;
    font-size: 20px;
}

.product p {
    font-size: var(--font-size-sm);
    top: 50%;
    text-align: center;
    transition: all 2s;
    left: -28%;
    
}

.product.fade button {
    margin-bottom: 60px;
    
}

.product button {
    left: 35%;
    right: 50%;
    bottom: -15%;
    cursor: pointer;
    font-size: var(--font-size-md);
    padding: 6px;
    color: #fff;
    transition: all 2s;
    width: 100px;
    background-color: var(--btn-no-background);
}


.call-to-action {
    text-align: center;
    margin: 100px 0;
}

.call-to-action span {
    display: none;
}

.call-to-action button {
    font-size: var(--font-size-xlg);
    padding: 10px 0;
    cursor: pointer;
    width: 100%;
}

footer {
    border-top: 1px solid #fff;
    background-color: #000;
    color: #fff;
    padding: 30px 0 0 20px;
}

footer a {
    color: #fff;
}

footer div {
    
    display: flex;
    justify-content: center;
}

footer ul {
    order: 2;
    margin-left: 10px;
}

footer li + li {
    margin-top: 12px;
}

footer img {
    order: 1;
    width: 60px;
    height: 80px;
    object-fit: center;
}

footer .copyright {
    padding: 30px 0 10px;
    
}

/* Desktop Screen size */

@media screen and (min-width: 600px) {
    header, nav, nav li, nav ul {
        display: inline-block;
    }

    body header {
        width: 100%;
        position: relative;
        display: flex;
        flex-direction: row;
        justify-content: space-between;
    }

    nav {
        text-align: right;
        padding: 0;
        margin: 15px;
        height: auto;
        background-color: var(--btn-no-background);
    }

    nav .toggle-theme {
        margin-left: 30px;
    }

    nav ul {
        height: 50px;
        display: flex;
        flex-direction: row;
        justify-content: flex-end;
        align-items: center;
    }

    nav li {
        margin-top: 0;
        padding: 0;
    }

    nav li:first-of-type {
        margin-right: 20px;
    }


    nav .mobile-bars {
        display: none;
    }

    nav li#order-now{
        margin-top: 0;
        margin-left: 45px;
    }

    nav li#order-now button {
        cursor: pointer;
    }

    nav li#cart {
        margin-top: 3px;
        width: 30px;
        text-align: center;
        margin-left: 35px;
    }

    .hero-sec i:first-of-type {
        left: 15%;
    }

    .hero-sec i:last-of-type {
        right: 15%;

    }

    .container > div {
        column-gap: 35px;
        width: 100%;
    }

    section#products .product {
        width: 250px;
        
    }

    .call-to-action {
        width: 100%;
        display: flex;
        flex-direction: row;
        justify-content: center;
        column-gap: 20px;
    }

    .call-to-action button {
        background-color: rgb(255, 255, 0);
        color: #000;
        width: auto;
        padding: 10px;
    }

    .call-to-action span {
        display: inline-block;
        font-size: var(--font-size-lg);
        height: 100px;
    }

    .call-to-action span span {
        padding-top: 40px;
        display: block;
    }

    h2.h1 {
        top: 8%;
   }
}
