@import url('https://fonts.googleapis.com/css2?family=Open+Sans:wght@300&display=swap');

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html {
    font-size: 16px;
}

/* mobile */

body {
    scroll-behavior: smooth;
    background-color: black;
    color: #fff;
    font-family: 'Open Sans', sans-serif;
    position: relative;
}

/* combination selector and selection all elements begins here */

/* header, nav, main, footer {
    grid-column: 1/span 2;
} */

a {
    text-decoration: none; 
    color: #000;
}

ul{
    display: block;
    margin: 0 auto;
    list-style-type: none;
    width: 100%;
}


header img, footer img {
    height: 45px;
}

h2, h1 {
    font-size: 25px;
    white-space: wrap;
    font-weight: normal;
}


h3 {
    font-size: 20px;
    font-weight: bold;
}

button {
    background-color: transparent;
    border: 0;
}

/* combination selector and selection all elements ends here*/
header {
    padding: 15px;
    
}

nav {
    font-size: 1rem;
    margin-bottom: 40px;
    text-align: center;
    margin-left: 20px;
    /* border: 2px solid blue; */
    overflow: hidden;
}

nav .mobile-bars {
    color: #fff;
    position: absolute;
    top: 0;
    right: 0;
    font-size: 20px;
    padding: 2px 5px;
    transition: all 1s;

}

nav ul {
    width: 100%;
    height: 0;
}

nav ul.show-nav {
    height: 230px;

}

.mobile-bars .fa-bars {
    display: block;
}

.mobile-bars .fa-xmark {
    display: none;
}

.mobile-bars .fa-xmark.show-or-hide {
    display: block;
}

.mobile-bars .fa-bars.show-or-hide {
    display: none;
}

nav a {
    color: #fff;
}


li#order-now button {
    background-color: rgb(255, 255, 0);
    padding: 10px;
    color: #000;
    font-size: 1.2rem;
    word-break: keep all;
    min-width: 150px;
    max-width: 200px;
}


nav li {
    display: block;
    text-align: left;  
    margin-top: 30px;
    width:  60px;
}



nav li#order-now{
    margin-top: 40px;
    width: 120px;
    
}

nav li#cart {
    font-size: 20px;
    z-index: 0;
    position: relative;
    margin-top: 30px;
}

nav #cart .cart-counter {
    color: rgb(255, 255, 0);
    margin-left: -17px;
    top: -55%;
    bottom: 0;
    z-index: 1;
    position: absolute;
    font-size: 18px;
}



main {
    width: 100%;
    position: relative;

}

.hero-sec {
    overflow: hidden;
    width: 100%;
    margin: 0 auto;
    user-select: none;
    position: relative;
}

.hero-sec i {
    position: absolute;
    z-index: 4;
    top: 50%;
    bottom: 50%;
    font-size: 18px;
    display: none;
    background-color: #000;
}

.hero-sec i:first-of-type {
    left: 8%;
}

.hero-sec i:last-of-type {
    right: 8%;
}

.container {
    display: flex;
    flex-direction: row;
    align-items: center;
    flex-wrap: nowrap;
    width: 100%;
    /* animation: slideOne 15s infinite alternate; 
    animation-delay: 2s;*/
    transform: translateX(-100%);
    position: relative;
    z-index: 0;
}

.container > div::before {
    content: '';
    position: absolute;
    width: 100%;
    height: 300px;
    background: linear-gradient(90deg, rgba(0, 0, 0, 0.3), rgba(0, 0, 255, 0.2));
    z-index: 2;
}

.container > div::after {
    content: '';
    position: absolute;
    width: 100%;
    height: 300px;
    background: url(images/little-lemon5.jpg) no-repeat center center / cover;
    z-index: 1;
}

/* @keyframes slideOne {
    0%{transform: translateX(-100%)}
    20%,30%{transform: translateX(-100%)}
    
    40%,50%{transform: translateX(-200%)}
    60%, 70%{transform: translate(-300%)}

    80%,90%, 100%{transform: translateX(-400%)}
    
} */


.container > div {
    width: 100%;
    display: flex;
    min-height: 300px;
    align-items: center;
    justify-content: center;
    position: relative;
    column-gap: 5px;
    z-index: 1;
    flex: 0 0 100%;
    padding: 0 5px;
    
    position: relative;
    z-index: 3;
}

.container > div.fade {
    opacity: .5;
    transition: opacity 1s;
}

.hero-sec .product-info, .hero-sec img {
    z-index: 3; 
}

.hero-sec .product-info {
    padding-left: 30px;

}

.price, .order {
    display: inline-block;
    font-size: 1rem;
    font-weight: 400;
    margin-top: 10px;
}

.order {
    background-color:#ffff00;
    padding: 5px;
}

.price {
    font-size: 1.2rem;
}

.hero-sec img {
    min-width: 200px;
    max-width: 350px;
    max-height: 200px;
    object-fit: cover;  
    position: relative;   
}

.hero-sec h1 {
    font-size: clamp(2.7vw, 25px, 1.5rem);
    color: #fff;
    text-align: left;
    font-weight: bolder;
    position: relative;
    width: 200px;
}


section #products {
    width: 100%;
    display: flex;
    position: relative;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
    column-gap: 15px;
}


#products .menu-heading {
    display: block;
    width: 100%;
    text-align: center;
    margin-top: 40px;
    margin-bottom: 20px;   
}

/*<i class="fa-thin fa-cart-plus"></i>*/

.menu-heading h2 {
    margin: 20px auto;
    text-align: center;
}

.menu-heading p {
    margin: 20px auto;
    font-size: 1.2rem;
    width: 80%;
    text-align: center;
}



section #products .product {
    width: 300px;
    text-align: center;
    height: 300px;
    position: relative;
    background-color: #fff;
    color: #fff;
    box-shadow: 0 0 2px 1px #fff;
    margin: 20px;
    overflow: hidden;
}

.product.fade::after {
    content: '';
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    width: 100%;
    height: 300px;
    background-color: rgba(0, 0, 0, .3);
    z-index: 1;
    transition: background-color 1.5s;
}

.tag {
    position: absolute;
    top: 0;
    left: 0;
    padding: 15px 30px 5px 30px;
    z-index: 3;
    background-color: rgb(255, 255, 0);
    color: #000;
    box-sizing: border-box;
    transform: rotate(-45deg) translate(-20px, -30px);
}

.product img {
    width: 100%;
    height: 100%;
    object-fit: cover;
    transition: 1.5s;
    position: relative;
    z-index: 0;
}

.product.fade img {
    width: 110%;

}

.product h3, .product p, .product button {
    position: absolute;
    z-index: 3;
}





.product.fade h3 {
    margin-top: 60px;
    transition: all 2s;
    
}


.product h3 {
    top: -10%;
    left: 0;
    right: 0;
    bottom: 0;
    margin: 0 auto;
    width: 200px;
    overflow: hidden;
    white-space: nowrap;
    text-overflow: ellipsis;
    transition: all 2s;
}

.product.fade p {
    top: 50%;
    margin-left: 180px;
    transition: all 2s;
    font-size: 20px;
}

.product p {
    font-size: 1.1rem;
    top: 50%;
    text-align: center;
    transition: all 2s;
    left: -28%;
    
}

.product.fade button {
    margin-bottom: 60px;
    
}

.product button {
    left: 40%;
    right: 50%;
    bottom: -15%;
    cursor: pointer;
    font-size: 2rem;
    padding: 6px;
    color: #fff;
    transition: all 2s;
    
}


.call-to-action {
    text-align: center;
    margin: 100px 0;
    background-color: #000;
}

.call-to-action span {
    display: none;
}

.call-to-action button {
    font-size: 30px;
    padding: 10px 0;
    background-color: rgb(255, 255, 0);
    color: #000;
    cursor: pointer;
    width: 100%;
}

footer {
    border-top: 1px solid #fff;
    background-color: #000;
    color: #fff;
    padding: 30px 0 0 20px;
}

footer a {
    color: #fff;
}

footer div {
    
    display: flex;
    justify-content: center;
}

footer ul {
    order: 2;
    margin-left: 10px;
}

footer li + li {
    margin-top: 12px;
}

footer img {
    order: 1;
    width: 60px;
    height: 80px;
    object-fit: center;
}

footer .copyright {
    padding: 30px 0 10px;
    
}

/* Desktop Screen size */

@media screen and (min-width: 600px) {
    header, nav, nav li, nav ul {
        display: inline-block;
    }

    body header {
        width: 30%;
        margin-top: 5px;
        position: relative;
    }

    nav {
        width: 70%;
        text-align: right;
        position: absolute;
        padding: 0;
        margin-top: 20px;
    }

    nav ul {
        height: 40px;
    }

    nav li {
        margin-top: 0;
        padding: 0;
    }

    nav li:first-of-type {
        margin-right: 20px;
    }


    nav .mobile-bars {
        display: none;
    }

    nav li#order-now, #cart {
        margin-top: 0;
        
        margin-left: 45px;
    }

    nav li#order-now button {
        cursor: pointer;
    }

    nav li#cart {
        height: 30px;
        margin-top: 10px;
    }
    
    

    .hero-sec i:first-of-type{
        left: 15%;
    }

    .hero-sec i:last-of-type {
        right: 15%;

    }

    .container > div {
        column-gap: 35px;
        width: 100%;
    }

    section#products .product {
        width: 250px;
        
    }

    .call-to-action {
        width: 100%;
        display: flex;
        flex-direction: row;
        justify-content: center;
        column-gap: 20px;
    }

    .call-to-action button {
        background-color: rgb(255, 255, 0);
        color: #000;
        width: auto;
        padding: 10px;
    }

    .call-to-action span {
        display: inline-block;
        font-size: 25px;
        height: 100px;
    }

    .call-to-action span span {
        padding-top: 40px;
        display: block;
    }

    h2.h1 {
        top: 8%;
   }
   }
